[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-nederburg-theme"]
	path = themes/hugo-nederburg-theme
	url = https://github.com/appernetic/hugo-nederburg-theme.git
[submodule "themes/themes/terminal"]
	path = themes/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
